[Unit]
Description=System Logging Service

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/etc/init.d/syslog start
ExecStop=/etc/init.d/syslog stop

[Install]
WantedBy=multi-user.target
