[Unit]
Description=Lightning Fast Webserver With Light System Requirements
After=network.target

[Service]
#ExecStartPre=@SYSCONFDIR@/init.d/lighttpd start
ExecStart=@SYSCONFDIR@/init.d/lighttpd start
ExecReload=@SYSCONFDIR@/init.d/lighttpd restart

[Install]
WantedBy=multi-user.target

