SUBSYSTEM=="misc", KERNEL=="wcd_dsp0_control", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="wcd-dsp-glink", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="audio_slimslave", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_qcelp", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_evrc", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_wma", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_wmapro", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_alac", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_ape", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_amrnb", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_amrwb", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_amrwbplus", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_aac", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_multi_aac", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_aac_in", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_qcelp_in", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_evrc_in", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_amrnb_in", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_amrwb_in", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_a2dp_in", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_ac3", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_audio_cal", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_hweffects", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_cad", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_fm", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_mvs", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_pcm_lp_dec", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_preproc_ctl", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_rtac", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_mp3", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_g711alaw", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_g711alaw_in", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_g711mlaw", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_g711mlaw_in", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_mp3", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="misc", KERNEL=="msm_voicememo", OWNER="system", GROUP="audio", MODE="0660"
SUBSYSTEM=="avtimer", KERNEL=="avtimer", OWNER="system", GROUP="audio", MODE="0660"
