[Unit]
SourcePath=/sbin/reboot-daemon
Description= reboot-daemon service

[Service]
Type=forking
Restart=always
ExecStart=/sbin/start-stop-daemon -S -b -a /sbin/reboot-daemon
ExecStop=/sbin/start-stop-daemon -K -n /sbin/reboot-daemon

[Install]
WantedBy=multi-user.target
