[Unit]
Description=Anki Camera Service
SourcePath=/usr/bin/mm-anki-camera
Wants=mm-qcamera-daemon.service

[Service]
Restart=always
ExecStart=/usr/bin/mm-anki-camera $MM_ANKI_CAMERA_OPTS
Group=camera
UMask=0007

[Install]
WantedBy=multi-user.target
